@model Appointment
@{
    ViewBag.Title = "Delete";
}

<form method="post" asp-action="@ViewBag.Title" class="body w-100 p-3 py-4 mt-5 d-flex flex-column justify-content-center align-items-center gap-1">
    <div class="Title-name w-100">
        <label asp-for="Title" class="fw-bold">
            <i class="fa-solid fa-file-signature"></i> Title
        </label>
        <input asp-for="Title" type="text" placeholder="Title" class="form-control mt-3" maxlength="40" required readonly disabled>
    </div>

    <div class="Description w-100">
        <label asp-for="Description" class="fw-bold">
            <i class="fa-solid fa-audio-description"></i> Description
        </label>
        <textarea asp-for="Description" placeholder="Description" class="form-control mt-3" readonly disabled></textarea>
    </div>

    <div class="Time w-100">
        <label asp-for="AppointmentDate" class="fw-bold">
            <i class="fa-solid fa-clock"></i> Appointment Date
        </label>
        <input asp-for="AppointmentDate" type="datetime-local" placeholder="Appointment Date" class="form-control mt-3" required readonly disabled>
    </div>
    <p id="messages" class="">
        <span class="text-danger">@ViewData["ErrorMessage"]</span>
        <span class="text-success">@ViewData["Message"]</span>
    </p>
    <div class="w-100 m3 d-flex row-md justify-content-between align-items-center align-content-center">
        <a class="btn btn-warning px-5 m-0 w-25" href="@Url.Action("Appointment", "Appointment")">Back</a>
        <button type="submit" class="btn btn-outline-success px-5 m-0 w-25" id="submitBtn">Delete</button>
    </div>
</form>