<<<<<<< HEAD
﻿@{
    ViewData["Title"] = "Forget Password";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-reboot.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Media CSS -->
    <link rel="stylesheet" href="~/css/media.css">
</head>
<body>
    <div class="container my-5 text-center">
        <div class="groub-box m-auto w-75 p-5">
            <h1>Reset Your Password</h1>
            <form method="post" action="/Account/ForgetPassword">
                <input type="text" name="email" class="form-control my-3 text-black" placeholder="Enter Your Email">
                <p class="text-danger">@ViewBag.Message</p>
                <button type="submit" class="btn btn-outline-info w-100 my-3">Send Reset Link</button>
            </form>
        </div>
    </div>

    <script src="~/JS/bootstrap.bundle.min.js"></script>
</body>
</html>
=======
﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AppointmentProject.Models.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form asp-action="ForgotPassword" method="post">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
>>>>>>> 101c5d27a64c66bceaa5f1d13f9c3be44a022028
